.form-group {
   margin-top: 40px;
}

.input__form {
   display: block;
   width: 100%;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   border-radius: 0.25rem;
   margin-bottom: 10px;
   background-color: #b9faf223;
   color: #b9faf2;
   border: solid #2c536420 2.5px;
   outline: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.btn__form {
   padding: 0.5rem 1rem;
   font-size: 1.25rem;
   border-radius: 0.3rem;
   cursor: pointer;
   background-color: #b9faf223;
   border: solid #2c536420 2.5px;
   display: block;
   margin: 15px auto 0px auto;
   font-weight: 400;
   line-height: 1.5;
   color: #b9faf2;
   text-align: center;
   text-decoration: none;
}

.btn__form:hover{
   background-color: #b9faf2;
   color: #212529;
}
