:root {
   --animate-duration: 800ms;
   --animate-delay: 3s;
}


.profile{
   align-items: center;
}

.profile__container{
   display: block;
   align-items: center;
}

.profile__container img{
   display: flex;
   margin: 40px auto;
   width: 150px;
   height: 150px;
   border-radius: 50%;
}

.profile__container p{
   margin: 0px 10px;
   letter-spacing: 2px;
   word-spacing: 1px;
   text-align: justify;
}

@media screen and (max-width: 800px){
   .profile__container{
      display: block;
   }
   .profile__container img{
      margin: 20px auto;
   }
   .profile__container p{
      text-align: justify;
      letter-spacing: normal;
      word-spacing: normal;
   }
}