

.projects__container{
   display: block;
}

.slider__container{
   display: flex;
   margin-top: 40px;
   /* width: 100%; */
}

.slider__container img{
   display: flex;
   width: 100%;
   height: 100%;
   object-fit: scale-down;
   border-radius: 10px;
}

.arrow{
   display: flex;
   align-items: center;
   justify-content: center;
}

.bi-caret-right-fill {
   display: flex;
   color: #efefefc8;
   font-size: 3rem;
   cursor: pointer;
}

.bi-caret-left-fill{
   display: flex;
   color: #efefefc8;
   font-size: 3rem;
   cursor: pointer;
}

.dot__container{
   display: flex;
   justify-content: center;
   margin: auto;
   margin-top: 10px;
}

.dot {
   display: flex;
   color: #efefefb8;
   cursor: pointer;
}

.active__dot{
   display: flex;
   color: #ffffff;
   font-size: 40px;
   border-radius: 50%;
   cursor: pointer;
}

.bi-dot{
   font-size: 30px;
}


@media screen and (max-width: 800px){
   .slider__container{
      margin-top: 20px;
      /* position: relative; */
   }
   .arrow{
      display: flex;
      /* position: absolute; */
      /* top: ; */
   }
}