@import '../../variables.css';

.footer__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 9vh;
  margin-top: 40px;
  background-color: var(--background-color);
}

.redes__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes__container a {
  display: flex;
  font-size: 20px;
  margin: 5px;
  color: var(--primary-color);
}

.footer__container span {
  font-weight: 200;
  color: var(--primary-color);
}

.redes__container a:hover {
  color: var(--secondary-color);
}

.footer__container span:hover {
  color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
  .footer__container {
    flex-direction: column;
    padding: 20px;
    height: 15vh;
    gap: 0vw;
  }

  .redes__container a {
    font-size: 18px;
  }
}
