@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: "Poppins", sans-serif;
   background-color: #0F2027;
   /* background-color: #0a192f; */
}

a {
   text-decoration: none;
}


li {
   list-style: none;
}




h2{
   color: #04fce3;
   text-decoration: underline solid #04fce3;
}
p{
   color: #b9faf2;
}

/* Proflie */

.card__container{
   display: flex;
   background-color: #30343823;
   margin: 0px 100px 0px 100px;
   padding: 35px;
   margin-bottom: 50px;
   border-radius: 10px;
   border: solid #2c536420 1px;
}

.profile{
   display: flex;
   align-items: center;
}

.profile img{
   display: flex;
   width: 150px;
   height: 150px;
   border-radius: 50%;
}

.textContainer{
   margin-left: 35px;
   display: block;
}